.account-form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 90px auto 0 auto;
    padding-bottom: 15px;
    align-items: center;
    background-color: #fff;
    width: 600px;
    height: 382px;
}

.form-title p {
    font-size: 25px;
}

.field {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 5px;
}

.field__label {
    color: #656565;
}

.field__input {
    width: 100%;
    margin: 0 auto 20px 0;
}

.form-submit-btn {
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px #000000 solid;
}

.invalid-feedback {
    display: block;
}