{% load static %}

<div class="begin">
    <img class="begin__img" src="{% static 'main/img/main_back.jpg' %}" alt="main_back">
    <div class="begin__wrapper">

        <div class="slogan__wrapper">
            <div class="begin__slogan">Think Different</div>
        </div>

        <div class="ul__wrapper">
            <ul class="begin__ul">
                <li class="begin__li"><a href="#">новинки</a></li>
                <li class="begin__li"><a href="#">одежда</a></li>
                <li class="begin__li"><a href="#">обувь</a></li>
                <li class="begin__li"><a href="#">аксессуары</a></li>
                <li class="begin__li"><a href="#">спорт</a></li>
            </ul>
        </div>

        <div class="input__wrapper">
            <input class="begin__search__input" type="text" placeholder="Поиск...">
            <img class="begin__search__icon" src="{% static 'main/icons/search.svg' %}" alt="">
        </div>
    </div>
</div>