{% load static %}

<div class="genderChoice">
    <div class="gender__man">
        <img class="gender__img" src="{% static 'main/img/man.jpg' %}" alt="">
        <div class="gender__descr">мужчины</div>
    </div>
    <div class="gender__woman">
        <img class="gender__img" src="{% static 'main/img/woman.jpg' %}" alt="">
        <div class="gender__descr">женщины</div>
    </div>
    <div class="gender__children">
        <img class="gender__img" src="{% static 'main/img/children.jpg' %}" alt="">
        <div class="gender__descr">дети</div>
    </div>
</div>