{% load static %}
<header>
    <nav>
        <div class="gender_selection">
            <div class="gender_name"><a href="#">мужчины</a></div>
            <div class="gender_name"><a href="#">женщины</a></div>
            <div class="gender_name"><a href="#">дети</a></div>
        </div>
        <div class="logo_weapper">
            <div class="logo">Django</div>
        </div>
        <div class="wrapper_system">
            <div class="entrance"><a href="#">войти</a></div>
            <div class="cart"><a href="#">корзина</a></div>
        </div>
    </nav>
</header>