{% extends 'account/base-account-form.html' %}

{% block account-form %}
    <div class="form-title" style="margin-top:20px">
        <p>Зарегистрироваться</p>
    </div>
    <form action="{% url 'account:signup' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label for="email" class="field__label">Email</label>
            <input name="email" required type="email" id="email" class="field__input">
        </div>
        <div class="field">
            <label for="password1" class="field__label">Пароль</label>
            <input name="password1" required type="password" id="password1" class="field__input">
        </div>
        <div class="field">
            <label for="password2" class="field__label">Повторите пароль</label>
            <input name="password2" required type="password" id="password2" class="field__input">
        </div>
        <input class="form-submit-btn btn btn-secondary" style="border: none;background: #E0BEA2;width: 400px;height: 50px;left: 100px;top: 282px;background: #E0BEA2;border-radius: 0px;" type="submit" value="Зарегистрироваться">
    </form>
{% endblock %}