{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/_header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/_begin.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/_genderChoice.css' %}">
</head>
<body>

{% include "_inc/header.html" %}
{% include "_inc/begin.html" %}
{% include "_inc/genderChoice.html" %}

{% block body %}
{% endblock body %}


</body>
</html>