{% extends 'base.html' %}
{% block body %}
    {% if user.is_authenticated %}
        <a href="{% url 'account:logout' %}">logout</a>
    {% else %}
        <a href="{% url 'account:login' %}"> login</a>
    {% endif %}
    {% for product in products %}
        <div style="display: flex; width: 100%; flex-direction: row;">
            <p>{{ product.title }}</p>
            {% if product.image %}
                <img src="{{ product.image.url }}" height="250" width="250" alt="">
            {% endif %}
            <p>{{ product.sex }}</p>
        </div>
    {% endfor %}
{% endblock %}
