{% load static %}
<div class="container">
    <div class="product-container">
        {% for product in products %}
        <div class="product-card" style=" box-shadow: 0 0 10px rgba(0,0,0,0.5);">
            <div class="product-cart__image">
                <img src="{{ product.image_url }}" alt="...">
            </div>
            <div class="product-cart-info">
                <div class="product-cart-info__title">
                    <p style="text-align: center; font-size: 16px">{{ product.title|truncatechars:90 }}</p>
                </div>
                <div class="product__show-more-btn">
                    <a href="{% url 'main:product-detail' product.id %}">
                        <button class="btn btn-dark product-card__btn">
                            Подробнее
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
