.message-container {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    width: max-content;
    margin: 70px auto;
    align-items: center;
    text-align: center;
    background-color: #a7d0bc;
    padding: 15px;
    border-radius: 10px;
}

.message-item {
    margin: 10px 8px;
    width: 100%;
}

.message-item-title {
    font-weight: bold;
}

.message-item__text {
}