.message-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 70px auto;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 15px;
}

.message-item {
    margin: 10px 8px;
    width: 100%;
}

.message-item-title {
    font-weight: bold;
}

.message-item__text {
}