:root {
    --card-width: 279px;
    --card-heght: 470px;
    --card-image-height: 300px;
    --card-border-radius: 9px;
}

.product-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: left;
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    width: var(--card-width);
    height: var(--card-heght);
    margin: 15px 15px;
    border-radius: var(--card-border-radius);
}

.product-cart__image img {
    border-top-right-radius: var(--card-border-radius);
    border-top-left-radius: var(--card-border-radius);
    object-fit: cover;
    width: 100%;
    max-height: var(--card-image-height);
    height: var(--card-image-height);
}

.product-cart-info {
    margin: 10px 15px;
    height: 100%;
}

.product__show-more-btn {
    display: flex;
    justify-content: center;
}

.product-cart-info__title p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    height: 87px;
}

a .product-card__btn {
    text-align: center;
    vertical-align: middle;
}