.product-detail-container {
    width: 50%;
    margin: 30px auto 0 auto;
}

.product-main-info {
    display: flex;
    flex-direction: row;
}

.product-main-info__img img {
    width: 450px;
    height: 530px;
}

.product-main-info__data {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 20px;
}

.product-main-info__title {
    color: #2D2D2D;
}

.product-main-info__price {
    margin-top: 15px;
    font-size: 20px;
    color: #555;
    font-weight: bold;
}

.product-size-container {
    margin-top: 25px;
}

.product-submit {
    margin-top: 25px;
    min-height: 3em;
    max-width: 220px;
    background-color: #E0BEA2;
    border-color: #E0BEA2;
}

.product-submit:hover {
background-color: #fff;
}

.product-info-detail-container {
display: flex;
flex-direction: row;
}

.detail-info-col {
margin-top: 20px;
width: 33.32%;
    padding: 0 20px;
}

.detail-info-content {
    color: #252525;
    font-weight: 300;
}

.detail-info-title {
color: #252525;
margin-top: 15px;
    font-weight:400;
}

.invalid-feedback {
display: block;
}